# Server dependencies (Render)
Flask==3.1.2
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-SocketIO==5.5.1
python-socketio==5.14.1
python-engineio==4.12.3
eventlet==0.40.3
gunicorn==23.0.0
requests==2.32.5
python-dateutil==2.9.0.post0
cloudinary==1.44.1
psycopg2-binary==2.9.11
dnspython==2.8.0
